@model Solare.App.ViewModels.SimulacaoViewModel

@{
    ViewData["Title"] = "Excluir " + Model.Nome;
}

<h4 style="padding-top: 50px">@ViewData["Title"]</h4>

<h5>Você tem certeza disso?</h5>

<div class="row">
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.ClienteId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cliente.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OrcamentoMaximo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrcamentoMaximo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ConsumoMedioMensal)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ConsumoMedioMensal)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ValorMedioContaEnergia)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ValorMedioContaEnergia)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AnosPermanencia)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AnosPermanencia)
            </dd>
        </dl>

        <div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Excluir" class="btn btn-danger" />
                <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
            </form>
        </div>
    </div>
</div>
