@model Solare.App.ViewModels.RelatorioViewModel

@{
    ViewData["Title"] = "Detalhes do Relatório - " + Model.NomeSimulacao;
}

<h4 style="padding-top: 50px">@ViewData["Title"]</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NomeCliente)
            </dd>
        </dl>
    </div>
</div>

<hr />

<h5>Produtos e Fornecedores</h5>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Produtos.First().Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Produtos.First().Valor)</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Produtos != null && Model.Produtos.Any())
        {
            foreach (var produto in Model.Produtos)
            {
                <tr>
                    <td>@produto.Nome</td>
                    <td>@produto.Valor.ToString("C")</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center">Nenhum produto encontrado.</td>
            </tr>
        }
    </tbody>
</table>

<h5>Resumo</h5>
<dl>
    <dt>
        Valor Total dos Produtos
    </dt>
    <dd>
        @Model.ValorTotalProdutos.ToString("C")
    </dd>
    <dt>
        Valor médio da mão de obra
    </dt>
    <dd>
        @Model.ValorInstalacao.ToString("C")
    </dd>
    <dt>
        Valor Total da instalação
    </dt>
    <dd>
        @Model.ValorTotal.ToString("C")
    </dd>
    <dt>
        Quantidade de Módulos Necessários
    </dt>
    <dd>
        @Model.QuantidadeModulos
    </dd>

    <dt>
        Quantidade de Inversores Necessários
    </dt>
    <dd>
        @Model.QuantidadeInversores
    </dd>
</dl>

<div>
    <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
</div>



